In [1]:
import sqlite3 as sl
import pandas as pd

In [2]:
# Creating a database from a csv
# First create a dataframe

df = pd.read_csv('answers.csv')
df.head()

   ROUND ANSWER
0      1  PLEAT
1      2  ALOFT
2      3  FRAME
3      4  FLOCK
4      5  STATE

In [3]:
# Create the database including a table with the dataframe
con = sl.connect('wordle.db')
df.to_sql("key", con, if_exists= 'replace')

5

In [4]:
# Check the table
data = pd.read_sql_query("Select * from key", con)
data.head()

# Note how sqlite added an index to the table without having to be told!

   index  ROUND ANSWER
0      0      1  PLEAT
1      1      2  ALOFT
2      2      3  FRAME
3      3      4  FLOCK
4      4      5  STATE

In [7]:
# Creating a table from scratch
with con:
    con.execute("""
    DROP TABLE IF EXISTS guess;""")

with con:
    con.executemany("""
        DROP TABLE IF EXISTS guess;
        CREATE TABLE guess (
            Round INTEGER,
            Attempt INTEGER,
            Word TEXT
            );
    """)

TypeError: function takes exactly 2 arguments (1 given)

In [ ]:
# Adding a record
con.execute("""INSERT INTO guess (Round, Attempt, Word)
        VALUES (1, 1, 'THREAD')""")

data = pd.read_sql_query("Select * from guess", con)
data.head()

In [ ]:
# Adding multiple records
sql = 'INSERT INTO guess (Round, Attempt, Word) values(?,?,?)'

data = [
    (1,1,'THREAD'),
    (1,2, 'WHEAT'),
    (1,3, 'PLEAT'),
    (2,1, 'READY'),
    (2,2, 'PAINT'),
    (2,3, 'FAINT'), 
    (2,4, 'AFOOT'),
    (2,5, 'ALOFT'),
    (2,5, 'ALOFT'),
]

with con:
    con.executemany(sql,data)
    
data = pd.read_sql_query("Select * from guess", con)
data.head(20)

In [ ]:
# Modify records
con.execute("UPDATE guess set Word = 'TREAD' where Word = 'THREAD'")

data = pd.read_sql_query("Select * from guess", con)
data.head(20)

In [ ]:
# Query distinct rows
data = pd.read_sql_query("Select Distinct * from guess", con)
data.head(20)

In [ ]:
# Delete records
con.execute("DELETE from guess where Round = 2 and Attempt = 5;")
data = pd.read_sql_query("Select Distinct * from guess", con)
data.head(20)

In [ ]:
# Working with both tables
data = pd.read_sql_query("""
    Select *
    from guess
    Left Join key on guess.Round = key.Round""", con)
data.head(20)

In [ ]:
con.close()